@import 'include-media/dist/include-media';

.nav {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: var(--brown);
	color: var(--parchment);
	width: 100%;
	padding: 0 max(24px, calc(50vw - var(--contentWidth) / 2));
	box-sizing: border-box;
	text-align: center;
	&_logo {
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 30px;
		width: 30px;
		background-color: var(--tan);
		mask-image: url(../public/hn-logo.svg);
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-position: center;
	}
	a {
		line-height: 0;
	}
}

.footer {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 40px;
	padding: 40px max(24px, calc(50vw - var(--contentWidth) / 2));
	background-color: var(--yellow);
	color: var(--brown);
	width: 100%;
	box-sizing: border-box;
	@include media('<tablet') {
		grid-template-columns: 1fr 1fr;
		div:first-child {
			grid-column: span 2;
		}
	}
	p,
	h4 {
		margin: 0 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			font-size: 0.85rem;
			margin: 0;
			padding: 0;
		}
	}
	&Disclaimer {
		grid-column: span 3;
		@include media('<tablet') {
			grid-column: span 2;
		}
		p {
			padding: 0;
			margin: 0;
			font-size: 0.65rem;
			line-height: 1.5;
			opacity: 0.6;
		}
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.content {
	flex-grow: 1;
	padding: 40px max(24px, calc(50vw - var(--contentWidth) / 2));
}

.indexGrid {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1.15fr;
	gap: 72px;
	@include media('<tablet') {
		grid-template-columns: 1fr;
	}
}

.featuredRecipe {
	&Image {
		margin: 0 0 24px;
	}
}

.recipeCard {
	position: relative;
	margin-bottom: 96px;
	&Label {
		position: absolute;
		z-index: 2;
		left: 24px;
		right: 24px;
		bottom: -48px;
		display: block;
		margin: 0 24px;
		text-align: center;
		padding: 12px;
		background-color: var(--brown);
		color: var(--parchment);
		h4 {
			margin: 0 0 6px;
			padding: 0;
		}
	}
}

.sticky {
	position: sticky;
	top: 40px;
}

.recipeNavigator {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	div:last-child {
		text-align: right;
	}
	p {
		margin-bottom: 6px;
	}
	a:hover {
		text-decoration: none;
		h4 {
			text-decoration: underline;
		}
	}
}

.link {
	&_continue {
		font-family: 'Averia Serif Libre', cursive;
		font-weight: 700;
		font-size: 1.2rem;
		&::after {
			content: '»';
			margin-left: 6px;
			text-decoration: underline transparent;
		}
	}
	&_recipeCard:hover {
		> article > div > h4 {
			text-decoration: underline;
		}
	}
}

.ingredients {
	display: inline-block;
	background-color: var(--yellow);
	padding: 24px 48px;
	border-radius: 24px;
	@include media('<tablet') {
		display: block;
	}
	ul {
		list-style-type: disc;
		margin-left: 0;
		padding-left: 24px;
		li {
			margin-bottom: 0.5rem;
		}
	}
	&Wrapper {
		position: sticky;
		top: 40px;
		@include media('<tablet') {
			position: relative;
			top: 0;
		}
	}
}

.instructions {
	padding: 25px 0;
	ol {
		margin-left: 0;
		padding-left: 36px;
		li {
			margin-bottom: 1rem;
		}
	}
	&Wrapper {
	}
}

.grid {
	&_recipeHeader {
		position: relative;
		display: grid;
		gap: 40px;
		grid-template-columns: 2fr 1.5fr;
		margin-bottom: 40px;
		@include media('<tablet') {
			grid-template-columns: 1fr;
		}
	}
	&_recipeContent {
		position: relative;
		display: grid;
		gap: 40px;
		grid-template-columns: 1.5fr 2fr;
		margin-bottom: 40px;
		align-items: start;
		@include media('<tablet') {
			grid-template-columns: 1fr;
		}
	}
}

.recipeImage {
	position: absolute;
	top: -40px;
	left: 0;
	width: calc(50vw - 87px);
	height: 100%;
	@include media('<tablet') {
		position: relative;
		width: 100%;
	}
	&Wrapper {
		position: relative;
		height: 500px;
		@include media('<tablet') {
			order: 1;
			top: 24px;
		}
	}
}

.descriptionWrapper {
	@include media('<tablet') {
		order: 2;
	}
}
